body {
	font-size: 24px;
}
.right {
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: 100px;
	width: 400px;
	height: auto;
}

.title {
	text-align:center;
	margin: 0 auto;
}

.description {
	margin-top: -600px;
	margin-left: 50px;
	margin-bottom: 500px;
	font-size: 34px;
	margin-right: 50px;
	width: 1000px;
	border: 2px solid rgb(0 0 0);
	background: #FAB57F;
	padding: 10px;
}

.ingredients {
	margin-top: -480px;
	padding: 10px;
	margin-left: 10px;
}

img {
	width: 400px;
	height: auto;
	border: 2px solid rgb(0 0 0);
}

p {
	margin-bottom: 500px;
	margin-top: -450px;
	font-weight: bold;
	font-size: 36px;
}
